@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.titleHeader {
    font-size: 64px;
}

.titleBody {
    font-size: 128px;
    font-style: italic;
}

.titleFooter {
    font-size: 96px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.border {
    border:1px dashed #000000;
}

.backgroundColor {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 980px;
    width: 1820px;
    background-color: rgba(255, 255, 255, 0.65);
}