#eventInfoTitle {
    position: absolute;
    top: 467px;
    left: -1400px;
}

#eventInfoNew {
    position: absolute;
    top: 0px;
    left: -1400px;
}

#eventInfoPickup {
    position: absolute;
    top: 0px;
    left: -1400px;
}

#eventInfoDetail {
    position: absolute;
    top: 0px;
    left: -1400px;
}

#eventInfoFuture {
    position: absolute;
    top: 0px;
    left: -1400px;
}

.eventTitle {
    width: calc(1200px - 10%);
    height: 115px;
    padding-top: 10px;
    text-align: center;
    font-size: 64px;
    font-style: italic;
}

.eventTopicsTitle {
    width: calc(1200px - 10%);
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 64px;
}

.eventTopicsBox {
    width: calc(1200px - 10%);
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 36px;
}

.eventTitleBox {
    width: calc(1200px - 10%);
    height: 100px;
    margin: 20px;
    padding: 20px;
    font-size: 36px;
}

.eventDetailBox {
    width: calc(1200px - 10%);
    height: 770px;
    margin: 20px;
    padding: 20px;
    font-size: 48px;
}

.blueBoxProperty {
    padding-left: 10%;
    padding-right: 10%;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-image: linear-gradient(90deg, #FFFFFF00 0%,  #52bfeb 30%, #afd7e7 70%, #FFFFFF00 100%);
    border-image-slice: 1;
    background: linear-gradient(to right, #FFFFFF00 0%,  #1a1a6d 5%, #1a1a6d 95%, #FFFFFF00 100%);
    color: white;
}

.skyblueBoxProperty {
    padding-left: 10%;
    padding-right: 10%;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-image: linear-gradient(90deg, #FFFFFF00 0%,  #52bfeb 30%, #afd7e7 70%, #FFFFFF00 100%);
    border-image-slice: 1;
    background: linear-gradient(to right, #FFFFFF00 0%,  #4683b4 5%, #4683b4 95%, #FFFFFF00 100%);
    color: white;
}

.font48 {
    font-size: 48px;
}