.logoImage {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainLogo {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

#postTweetTitle {
    visibility: hidden;
}

#postTweetHeader {
    position: absolute;
    top: 50px;
    left: 60px;
    /* color: white; */
    font-size: 72px;
    visibility: hidden;
}

#postTweetFooter {
    position: absolute;
    top: 830px;
    left: 1150px;
    /* color: white; */
    font-size: 72px;
    visibility: hidden;
}

#postTweetTheme {
    position: absolute;
    width: 1200px;
    height: 204px;
    margin: 20px;
    padding: 20px;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: #0b5394;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    visibility: hidden;
}

.icon {
    float: left;
    padding-right: 20px;
}

.postTweetThemeTitle {
    font-size: 80px;
}

.postTweetBody {
    position: absolute;
    width: 700px;
    margin: 20px;
    padding: 20px;
    border: 5px solid cornflowerblue;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    visibility: hidden;
}

.postTweetImage {
    width: 100px;
    border-radius: 50%;
    float: left;
}

.postTweetUserid {
    color: rgb(120, 120, 120);
}

#postTweetRecruit {
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translate(0, -50%);
    font-size: 48px;
    /* font-style: oblique; */
    /* font-weight: 900; */
    visibility: hidden;
}